<!DOCTYPE html>
<html lang="en">
	<head>
		<link type="text/css" href="{{STATIC_URL}}css/bootstrap.css" rel="Stylesheet" />
		<title>{{ story.name }}</title>
	</head>

	<body>
		<div id="title">
			<h1>{{ story.name }}</h1>
		</div>

	<div id="main-content">
		{% block content %} {% endblock content %}
	</div>

	<div id="sidebar">
		{% block sidebar %}  {% endblock sidebar %} 

		<div id="menu">
		{% block menu %}
            <h3>Menu</h3>
                {% if user.is_staff %}
                	<p>You're logged in as {{ user.first_name }}. <a href="/admin/logout/">Click here to logout.</a></p>
                {% else %}
                	<p><a href="/admin/">Log in</a> to create a new game.</p>
                {% endif %}

            {% endblock menu %}
        </div>

	</div>

	<div id="footer">
		{% block footer %}
	
		{% endblock footer %}
	</div>

	</body>
</html>